@charset "UTF-8";

/* Font: 'Poppins', sans-serif */

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: content-box;
}

header {
    background-color: gray;
}

header h1 {
    padding: 10px;
    text-align: center;
    color: white;
    font-variant-caps: petite-caps;
    letter-spacing: 2px;
}

#iconeMenu {
    color: white;
    display: block;
    text-align: end;
    padding: 10px;
    cursor: pointer;
    border-bottom: 2px solid gray;
}

#iconeMenu:hover {
    background-color: white;
    color: black;
    transition: .4s;
}

menu {
    display: none;
    background-color: rgb(96, 96, 96);
}

menu  a {
    list-style-type: none;
    display: block;
    padding: 10px;
    text-decoration: none;
    color: white;
    text-align: center;
    border: 1px solid rgba(128, 128, 128, 0.384);
}

a:hover {
    background-color: rgb(179, 179, 179);
    transition: .4s;
}

main {
    width: 85vw;
    margin: auto;
    padding: 10px;
}

article h2 {
    padding-bottom: 20px;
}

article p {
    text-align: justify;
    margin-bottom: 10px;
    text-indent: 20px;
}