@charset "UFT-8";

@media screen and (min-width: 992px) {
    #iconeMenu {
        display: none;
    }

    #menu {
        display: block;
    }

    ul {
        display: flex;
        justify-content: center;
        gap: 24px;
    }

    menu li {
        display: inline
    }

    menu a {
        border: none;
    }
}